html,
.buttons,
.button {
  background: linear-gradient(
      255.35deg,
      #dc3131 0.83%,
      rgba(255, 79, 79, 0) 108.93%
    ),
    #ff5e56;
}
.button {
  color: white;
  border-radius: 10px;
  border-color: white;
  height: 80px;
  width: 280px;
  font-size: 24px;
  font-family: Lab Grotesque;
  font-style: normal;
  font-weight: 500;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
}
@media (min-width: 768px) and (max-width: 1400px) and (orientation: portrait) {
  .buttons {
    margin-top: 70%;
  }
}
@media (min-width: 768px) and (max-width: 1400px) and (orientation: landscape) {
  .buttons {
    margin-top: 25%;
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  .buttons {
    margin-top: 15%;
    padding-left: 80px;
    padding-right: 100px;
    max-width: 100%;
  }
  .button {
    font-size: 14px;
  }
}
@media (max-width: 767px) and (orientation: portrait) {
  .buttons {
    margin-top: 60%;
    padding-left: 80px;
    padding-right: 100px;
    max-width: 100%;
  }
  .button {
    font-size: 14px;
  }
}
